<apex:page controller="ImportBenefitAssessmentController">  
    <apex:form id="importForm">
    <apex:pageBlock title="{!$Label.EPART_Offline_PageBlock_Title}">
      <apex:pageMessages id="messageBlock"/>
      <apex:pageBlockSection showHeader="false" columns="1" rendered="{!NOT(IsFileProccessed)}">
        <apex:pageBlockSectionItem >
		        <apex:outputLabel value="1. {!$Label.EPART_Offline_InputFile_Label}" for="InputFileId"/>
            <apex:inputFile value="{!csvFileBody}" filename="{!csvFileName}" id="InputFileId" accept=".csv"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
               <apex:outputLabel value="2. {!$Label.EPART_Offline_Import_Button}" for="Import_Button"/>
               <apex:commandButton id="Import_Button" value="Import Now" action="{!import}"/>
          </apex:pageBlockSectionItem>
         
      </apex:pageBlockSection>
      <apex:pageBlockSection title="{!$Label.EPART_Offline_PageBlockSection_InputData}" columns="1" collapsible="false" rendered="{!IsFileProccessed}">
         <apex:pageBlockSectionItem dataStyle="margin-left: auto; margin-right: auto">
		        <apex:outputLabel value="1. Imported file: {!csvFileName}" />
        </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
      <apex:pageBlockSection title="{!$Label.EPART_Offline_PageBlockSection_ImportedData}" columns="1" collapsible="false" rendered="{!IsFileProccessed}">
         <apex:pageBlockTable id="Imported_Block_Table" value="{!CSVRows}" var="item" >
                   <apex:column value="{!item.RowNumber}" headerValue="Row #"/> 
                   <apex:column value="{!item.Client.First_Name__c}"/> 
                   <apex:column value="{!item.Client.Last_Name__c}"/> 
                   <apex:column value="{!item.Client.Date_of_Birth__c}"/> 
                   <apex:column value="{!item.Client.Phone__c }"/>
                   <apex:column value="{!item.Relationship.Location_of_Screening__c}"/>
                   <apex:column value="{!item.Relationship.Date__c}"/>
                   <apex:column value="{!item.Relationship.cfg_BA_Screening_Outcome__c}"/>  
          </apex:pageBlockTable>
           </apex:pageBlockSection>
  </apex:pageBlock>
  </apex:form>
</apex:page>