<apex:page standardController="Program_Relationship__c">
<flow:interview name="Tax_Follow_Up" finishLocation="/{!Program_Relationship__c.ID}">
<apex:param name="var_Program_Relationship" value="{!Program_Relationship__c.ID}"/>
<apex:param name="var_Running_User" value="{!$User.Id}"/>
</flow:interview>
</apex:page>