<apex:page standardController="Program_Relationship__c" renderAs="pdf" applyHtmlTag="false" showHeader="false"  readOnly="true" standardStylesheets="false">
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
      <apex:stylesheet value="{!URLFOR($Resource.PantryCard, 'PermanentPantryCard.css')}"/>
  </head>
  
  <body>
      <div id="logo">
          <apex:image url="/servlet/servlet.FileDownload?file=015E0000003qLRY" styleClass="logo-image" />
          <p>{!$Label.Pantry_Card_Title}</p>
      </div>
      
      <table id="data-block">
          <tr>
              <td rowspan="2" class="date-of-intake">{!$Label.Pantry_Card_Date_of_Intake}</td>
              <td class="registration-date">
                   <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                      <apex:param value="{!Program_Relationship__c.Registration_Date__c}" /> 
                   </apex:outputText>
              </td>
              <td rowspan="2" class="id-number">{!$Label.Pantry_Card_ID_Number}</td>
              <td class="name">{!Program_Relationship__c.Name}</td>
          </tr>
          <tr>
              <td class="underline"></td>
              <td class="underline"></td>
          </tr>
      </table>
      
      <div id="client_name">
          <p class="bold">{!Program_Relationship__c.Client_Full_Name__c}</p>    
      </div>
      
      <span id="signature" class="underline">{!$Label.Pantry_Card_Signature}:</span>
      
      <!--Page Break-->
      <div class="page-break" /> 
      
      <div id="certified_family">
          <span>{!$Label.Pantry_Card_Certified_Family}</span>
      </div>
    
      <div id="numbers">
          <span>{!$Label.Pantry_Card_Adults}: 
           <apex:outputText value="{0}">
           <apex:param value="{!Program_Relationship__c.cfg_Number_of_Adults__c}" />
          </apex:outputText>          
          </span>
          <span>{!$Label.Pantry_Card_Children}: 
          <apex:outputText value="{0}">
           <apex:param value="{!Program_Relationship__c.cfg_Number_of_Children__c}" />
          </apex:outputText> 
         
         </span>
          <span>{!$Label.Pantry_Card_Elders}: 
          <apex:outputText value="{0}">
           <apex:param value="{!Program_Relationship__c.cfg_Number_of_Seniors__c}" />
          </apex:outputText> 
          
        </span>
      </div>
      
      <div id="product">
          <span>{!$Label.Pantry_Card_Family_Size}: </span> 
          <apex:outputText value="{0}">
              <apex:param value="{!Program_Relationship__c.cfg_Household_Size_num__c}" />
          </apex:outputText><br/>
          {!$Label.Pantry_Card_Staff_Initials} <span id="empty-underline"></span> 
      </div>
      
      <div id="contacts">
          <p id="contacts-left">
              <span><span class="bold">{!$Label.Pantry_Card_Hours_Title}</span><br/>
              {!$Label.Pantry_Card_Hours_first_line}<br/>
              {!$Label.Pantry_Card_Hours_second_line}</span>
          </p>
          <p id="contacts-right">
              <span>{!$Label.Pantry_Card_Address_first_line}<br/>
              {!$Label.Pantry_Card_Address_second_line}<br/>
              {!$Label.Pantry_Card_Phone}</span>
          </p>
      </div>  
   </body>   
</apex:page>