<apex:page id="thePage" standardcontroller="Client__c">
    <apex:variable var="theClient" value="{!Client__c.Id}"></apex:variable>
    <div style="float: left; width: 600px; padding: 10px;">
            <flow:interview name="SNAP_Follow_Up" finishLocation="{!URLFOR('/a0l')}" >
                    <apex:param name="txtClientID2" value="{!Client__c.Id}"/>
                    <apex:param name="txtUserId" value="{!$User.Id}"/> 
            </flow:interview>
        </div>
</apex:page>